<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :glass %><br />
    <%= f.text_field :glass %>
  </div>
  <div class="field">
    <%= f.label :aka %><br />
    <%= f.text_field :aka %>
  </div>
  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </div>
  <fieldset>
    <div class="field">
      <%= f.label :method %><br />
      <%= f.text_area :method %>
    </div>
    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.label :origin %><br />
      <%= f.text_area :origin %>
    </div>
    <div class="field">
      <%= f.label :garnish %><br />
      <%= f.text_field :garnish %>
    </div>
  </fieldset>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
