<h1>Editing cocktail</h1>

<%= render 'form' %>

<h2>Ingredients</h2>
<%= render :partial => "ingredients/ingredient", :collection => @cocktail.ingredients %>

<%= link_to 'Select ingredient to add', select_ingredient_cocktail_path(@cocktail) %> |
<%= link_to 'Show', @cocktail %> |
<%= link_to 'Back', cocktails_path %>
