<h1>Editing cocktail: <%= @cocktail.name %></h1>

<% form_for(@cocktail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<h2>Ingredients</h2>


<%= link_to 'Select ingredient to add', select_ingredient_cocktail_path(@cocktail) %> |
<%= link_to 'Show', @cocktail %> |
<%= link_to 'Back', cocktails_path %>
