<h1>Listing cocktails</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cocktails.each do |cocktail| %>
  <tr>
    <td><%= cocktail.name %></td>
    <td><%= link_to 'Show', cocktail %></td>
    <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
    <td><%= link_to 'Destroy', cocktail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

Page <%= @cocktails.number %> -
<%= link_to("Prev", cocktails_path(:page => @cocktails.prev.number)) if @cocktails.prev? %>
<%= link_to("Next", cocktails_path(:page => @cocktails.next.number)) if @cocktails.next? %>
<br />


<%= link_to 'New Cocktail', new_cocktail_path %> |
<%= link_to 'Add 10 random cocktails', add_ten_random_cocktails_path %>
