<h1>Listing cocktails</h1>

<table>
<% @cocktails.each do |cocktail| %>
<% next if cocktail.name.nil? %>
  <tr>
    <td><b><%= link_to(cocktail.name, cocktail) %></b> (<%= cocktail.rate %>/5) [<%= cocktail.compo_summary %>]</td>
  </tr>
<% end %>
</table>

<br />

Page <%= @cocktails.number %> -
<%= link_to("Prev", cocktails_path(:page => @cocktails.prev.number)) if @cocktails.prev? %>
<%= link_to("Next", cocktails_path(:page => @cocktails.next.number)) if @cocktails.next? %>
<br />

<%= form_for :filter, :html => { :method => :get } do |f| %>
    <%= f.label :query %>:
    <%= f.text_field :query %><br />
	<%= f.submit %>
<% end %>

<%= link_to 'New Cocktail', new_cocktail_path %> |
<%= link_to 'Add 10 random cocktails', add_ten_random_cocktails_path, :method => :put %>
