<h1>Select one ingredient to add</h1>

<%= form_for @composition, :url => 'add_ingredient', :html => { :method => :put }  do |f| %>
    <%= f.label :amount %>:
    <%= f.text_field :amount %><br />

    <%= f.label :doze %>:
    <%= f.text_field :doze %><br />

    <%= f.label :ingredient %>:
    <%= collection_select(:ingredient, :id, @ingredients, :id, :name, :class => "ingredient") %><br />

    <%= f.submit %>
<% end %>

<%= link_to 'Back', @cocktail %>
