.col-sm-6.col-xs-12#listing
  %h2= "#{bar.name}'s bar content:"
  - ingredients.each do |i|
    .checkbox
      %label
        %input{ type: 'checkbox', checked: bar.include?(i) }
        = i
.col-sm-6.col-xs-12
  #stats
    = haml :stats, locals: { bar: bar }

:javascript
  $('.alert').hide();
  
  var add_glyphicon = function(element, icon_name) {
    element.children('.glyphicon').remove();  	  
  	element.append('<span class="glyphicon glyphicon-' + icon_name + '"></span>');
  }
  
  var update_stats = function(new_stats) {
    $('#stats').html(new_stats);
  }
  
  $('input[type=checkbox]').click( function() {
  	var input = $(this);
  	var ingredient = $(this).parent().text().trim();
  	if ($(this).is(':checked')) {
  	  $.ajax({
  	    type: "PUT",
  	    url: "/bar/#{bar.name}/" + ingredient
  	  })
  	  .done(function(msg) {
  	  	add_glyphicon(input.parent(), 'ok');
  	  	update_stats(msg);
  	  });
  	} else {
  	  $.ajax({
  	    type: "DELETE",
  	    url: "/bar/#{bar.name}/" + ingredient
  	  })
  	  .done(function(msg) {
  	  	add_glyphicon(input.parent(), 'remove');
  	  	update_stats(msg);
  	  });
  	}
  });
  
  var windw = this;

  $.fn.followTo = function ( pos ) {
    var $this = this,
    $window = $(windw);
    
    $window.scroll(function(e){
      if ($window.scrollTop() < pos) {
        $this.css({
          position: 'absolute',
          top: 0
        });
      } else {
        $this.css({
          position: 'fixed',
          top: 0
        });
      }
    });
  };

  $('#stats').followTo($('#listing').position().top);