%h1#cocktail= cocktail.name
%div#reciepe
  %table.table
    - cocktail.ingredients.each do |volume, doze, name|
      %tr
        %td= volume
        %td= doze
        %td= name
%div#infos
  %table.table.table-condensed
    %tr
      %td Glass
      %td= cocktail.glass
    %tr
      %td Garnish
      %td= cocktail.garnish
    %tr
      %td Method
      %td= cocktail.method
    - cocktail.infos.each do |key, value|
      %tr
        %td= key
        %td= value
    %tr
      %td Rate
      %td= cocktail.rate