%h1#cocktail= cocktail.name
%div#recipe
  %table.table
    - cocktail.recipe_steps.each do |step|
      %tr
        %td= step.amount
        %td= step.doze
        %td= step.ingredient.name
%div#infos
  %table.table.table-condensed
    - [:method, :glass, :garnish, :rate, :aka, :variant, :comment, :origin, :source].each do |info|
      - value = cocktail.send(info)
      - unless value.nil? or value.blank?
        %tr
          %td= info.to_s.capitalize
          %td= value
      